.hero {
  background-image: url('../src/assets/herobg.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* background-size: auto; */
}

.why {
  background-image: url('../src/assets/sec2-bg.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding-bottom: 50px;
}
.now {
  background-image: url('../src/assets/nowbg.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding-bottom: 50px;
}

.card1 {
  width: 1311px;
  height: 306px;
  border-radius: 20px;
  border: 1px solid #878787;
  background-image: url('../src/assets/dCard1.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat, #272c2d;
  background-blend-mode: overlay, normal; */
}

.card2 {
  background-image: url('../src/assets/dCard2.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.card3 {
  background-image: url('../src/assets/dCard3.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.card2,
.card3 {
  width: 634px;
  height: 310px;
  border-radius: 20px;
  border: 1px solid #878787;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat, #272c2d;
  background-blend-mode: overlay, normal; */
}

.card {
  width: 25%;
  height: auto;
  border-radius: 10px;
  position: relative;
  border-radius: 20px;
  border: 1px solid #878787;
  background: #272c2d;
  padding-bottom: 30px;
}

.card img {
  width: 84px;
  height: 84px;
  top: 13px;
  left: 27px;
  position: relative;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 28px;
  font-weight: 700;
  width: 80%;
  left: 17px;
  position: relative;
  margin-bottom: 15px;
}
.card p {
  font-size: 18px;
  font-weight: 300;
  left: 17px;
  position: relative;
  width: 80%;
}

.card button {
  position: absolute;
  display: inline-flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid #265cae;
  background: linear-gradient(
    91deg,
    rgba(70, 84, 208, 0.98) 6.91%,
    rgba(29, 121, 188, 0.37) 46.39%,
    rgba(83, 65, 192, 0.54) 87.21%
  );
  bottom: -30px;
  left: 17px;
}

.network {
  background-image: url('../src/assets/sec3-bg.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.comparison {
  background-image: url('../src/assets/comparisonbg.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/* @media (min-width: 1280px) {
  .card {
    width: 300px;
    padding-bottom: 30px;
  }

  .card img {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 20px;
  }

  .card h1 {
    font-size: 22px;
  }
  .card p {
    font-size: 18px;
    width: 270px;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 250px;
    padding-bottom: 30px;
  }

  .card img {
    width: 70px;
    height: 70px;
    top: 10px;
    left: 15px;
  }

  .card h1 {
    font-size: 18px;
  }
  .card p {
    font-size: 16px;
    width: 210px;
  }
} */

@media (max-width: 640px) {
  .card1 {
    background-image: url('../src/assets/mCard1.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

  .card2 {
    background-image: url('../src/assets/mCard2.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .card3 {
    background-image: url('../src/assets/mCard3.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
}
